<h1>Posts</h1>
<br>
<% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post) %></h2>
<% end %>
<p>
  <%= link_to new_post_path do %>
    <i class="fa-sharp fa-solid fa-pen-nib"></i> Write new post
  <% end %>
</p>
